doctype html
html
    head
        style
            include style.css
    body
        div
            | HELLO CHAT
            br
            | Верстка колись буде

        div
            block content

        div.footer
            | Best regard
            br
            a(href=frontendURL) Dec course Node.js
