div
    p Hello dear #{userName}. Dont worry! Everyone forgot something
    | You password is safe, but if you want to change it please click here.
    a(href=frontendURL + '/pass?token=' + token) | Click here